<app-navbar></app-navbar>

<div class="row acerca-de align-items-center animated fadeIn mt-4">
    <div class="col-12 col-lg-4 foto">
        <img src="assets/images/perfil-min.jpeg" alt="Foto de perfil" class="rounded-circle img-fluid">
        <p class="nombre">{{aboutMe.name}}</p>
        <p class="nombre">Tel: <small> {{aboutMe.cel}}</small></p>
        <p class="nombre">Email: <small>{{aboutMe.email}}</small></p>

    </div>
    <div class="col-12 col-lg-8 info">
        <h2 class="titulo">¡Hola, soy Grediana!</h2>

        <div *ngFor="let res of aboutMe.resume">
            <p class="resumen">{{res}} </p>

        </div>

        <p class="label">HTML</p>
        <div class="progress">
            <div class="progress-bar" [ngStyle]="{'width': progreso}">100%</div>
        </div>

        <p class="label">CSS</p>
        <div class="progress">
            <div class="progress-bar" [ngStyle]="{'width': progreso}">100%</div>
        </div>
        <p class="label">JavaScript</p>
        <div class="progress">
            <div class="progress-bar" [ngStyle]="{'width': progreso}">100%</div>
        </div>
    </div>

</div>

<hr>

<div class="container">
    <div class="row redes-sociales justify-content-center">
        <div class="col-auto">
            <a href={{aboutMe.githug}} target="_blank" class="icono icon-github-circled git"></a>
            <a href={{aboutMe.linkendin}} target="_blank" class="icono icon-linkedin-rect linkedin ml-2"></a>
        </div>
    </div>
</div>