<div class="row acerca-de align-items-center animated fadeIn mt-4">
    <div class="col-12 col-lg-4 foto">
        <img src="assets/images/perfil-min.jpeg" alt="Foto de perfil" class="rounded-circle img-fluid">
        <p class="nombre">Grediana Rojas Grimales</p>
        <p class="nombre">Tel: <small> 935462416</small></p>
        <p class="nombre">Email: <small> gredian@gmail.com</small></p>

    </div>
    <div class="col-12 col-lg-8 info">
        <h2 class="titulo">¡Hola, soy Grediana!</h2>
        <!-- <p class="resumen">Hola ! Soy Grediana me caracterizo por enfrentarme a nuevos retos de aprendizaje por ello a
            pesar de cursar una carrera en el área de salud, quise arriesgarme y empezar un nuevo reto el mundo de la
            tecnología donde pude desarrollar grandes talentos. Me gusta trabajar en ideas y proyectos con significado,
            humanidad, emoción y que ayuden a mejorar nuestro mundo.


        </p>
        <p class="resumen"> Mi curiosidad me lleva a seguir profundizando los conocimientos adquiridos y a aprender
            nuevas herramientas
            en el sector de la Tecnología.
        </p> -->
        <p class="resumen">Autodidacta, disciplinada y responsable me gustan las exigencias profesionales, los nuevos
            retos y poder plasmar en tangibles pensamientos e ideas. Manejo tecnologías para el desarrollo en front-end:
            HTML, css, JavaSCript, Angular, otros. </p>


        <p class="label">HTML</p>
        <div class="progress">
            <div class="progress-bar" [ngStyle]="{'width': progreso}">100%</div>
        </div>

        <p class="label">CSS</p>
        <div class="progress">
            <div class="progress-bar" [ngStyle]="{'width': progreso}">100%</div>
        </div>
        <p class="label">JavaScript</p>
        <div class="progress">
            <div class="progress-bar" [ngStyle]="{'width': progreso}">100%</div>
        </div>
    </div>

</div>

<hr>

<div class="container">
    <div class="row redes-sociales justify-content-center">
        <div class="col-auto">
            <!-- <a href="#" class="icono icon-gmail gmail"></a> -->
            <a href="https://github.com/grGrimales" target="_blank" class="icono icon-github-circled git"></a>
            <a href="https://www.linkedin.com/in/grediana-rojas" target="_blank"
                class="icono icon-linkedin-rect linkedin ml-2"></a>


        </div>
    </div>
</div>