<app-navbar (onEnter)="buscar($event)"></app-navbar>


<div class="alert alert-danger mt-5" *ngIf="thereAreProjects === false">
    No se han encontrado proyectos con la busqueda actual.
</div>


<div class="card-columns animated fadeIn">

    <div *ngFor="let portfolio of portfolios" class="card mt-4">
        <img src="{{portfolio.img}}" class="card-img-top" alt="{{portfolio.titulo}}">
        <div class="card-body">
            <h5 class="card-title"> {{portfolio.titulo}} </h5>
            <p class="card-text"> {{portfolio.descripcion}} </p>
            <a href="{{portfolio.ruta}}" target="_blanck" class="btn btn-primary">Ver más...</a>
        </div>
    </div>
</div>