<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post" (ngSubmit)="enviarMensaje()">
                    <fieldset>
                        <legend class="header">Contactame</legend>

                        <div class="form-group">
                            <div class="col-md-8">
                                <input id="name" name="name" type="text" placeholder="Nombre" class="form-control" [(ngModel)]="contact.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Email" class="form-control" [(ngModel)]="contact.email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8">
                                <input id="phone" name="phone" type="text" placeholder="Teléfono" class="form-control" [(ngModel)]="contact.phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Dejame tu mensaje y me pondré en contacto contigo." rows="7" [(ngModel)]="contact.message"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>