<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post" (ngSubmit)="enviarMensaje()" #forma="ngForm">
                    <fieldset>
                        <legend class="header">Contactame</legend>

                        <div class="form-group">
                            <div class="col-md-8">
                                <input id="name" name="name" type="text" placeholder="Nombre" class="form-control" [(ngModel)]="contact.name" #name="ngModel"
                                required  [ngClass]="{'is-valid': name.valid, 'is-invalid': name.invalid}"  >
                                <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                                    <div *ngIf="name.errors.required">
                                        Introduzca su Nombre por favor
                                    </div>
                            </div>
                        </div>
                        </div>

                        <div class="form-group" >
                            <div class="col-md-8">
                                <input  #email="ngModel" id="email" name="email" type="text" placeholder="Email"   class="form-control" [(ngModel)]="contact.email"  required [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid}"
                                pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
                                <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                                    <div *ngIf="email.errors.required">
                                      Introduzca un correo electronico válido por favor
                                    </div>
                                    <div  *ngIf="email.errors && email.errors.pattern">
                                      El correo electronico no sigue el formato correcto.
                                    </div>
                                  </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8">
                                <input id="phone" name="phone" type="text" placeholder="Teléfono" class="form-control" [(ngModel)]="contact.phone" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Dejame tu mensaje y me pondré en contacto contigo." rows="7" [(ngModel)]="contact.message"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg" [disabled]="!forma.valid">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>