<nav class="navegacion navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="#">
        <!-- <img src="assets/A-64.png" width="30" height="30" alt="" loading="lazy"> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/aboutMe']">Sobre mi</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/portfolio']">Portafolio</a>
            </li>

        </ul>
        <app-input-buscar (onEnter)="buscar($event)"></app-input-buscar>
    </div>
</nav>